@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
#menu-2l .mbr-brand__name {
  font-size: 16px;
}
#menu-2l.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2l .mbr-navbar__section {
  background: #000000;
}
#menu-2l .mbr-navbar__hamburger {
  color: #1abc9c;
}
#menu-2l .mbr-brand__name a {
  font-size: 24px;
}
#menu-2l .mbr-navbar__items a {
  font-size: 14px;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-2m P {
  color: #fac51c;
}
#contacts1-2m UL {
  color: #fac51c;
}

#msg-box3-35 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-35 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-35 .mbr-article P {
  font-family: 'Montserrat', sans-serif;
}
#menu-2x .mbr-brand__name {
  font-size: 16px;
}
#menu-2x.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2x .mbr-navbar__section {
  background: #000000;
}
#menu-2x .mbr-navbar__hamburger {
  color: #1abc9c;
}
#menu-2x .mbr-brand__name a {
  font-size: 24px;
}
#menu-2x .mbr-navbar__items a {
  font-size: 14px;
}
#contacts1-2y P {
  color: #fac51c;
}
#contacts1-2y UL {
  color: #fac51c;
}




#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__section {
  background: #000000;
}
#menu-2 .mbr-navbar__hamburger {
  color: #1abc9c;
}
#menu-2 .mbr-brand__name a {
  font-size: 24px;
}
#menu-2 .mbr-navbar__items a {
  font-size: 14px;
}
#header4-15 H1 {
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  color: #e1170c;
}
#header4-15 I {
  color: #fac51c;
  font-size: 36px;
}
#content5-2t .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2t .mbr-article {
  color: #fff;
}
#features1-2p P {
  font-size: 16px;
  text-align: left;
}
#features1-2p .mbr-section__col .mbr-header__text {
  font-size: 18px;
}
#msg-box3-y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-y .mbr-article P {
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-z .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-z .mbr-article P {
  font-family: 'Montserrat', sans-serif;
}
#testimonials1-2v .mbr-reviews__text P {
  font-size: 20px;
}
#testimonials1-2v .mbr-reviews__author-name {
  font-size: 20px;
}
#pricing-table1-11 H3 {
  text-align: center;
}
#msg-box3-2w .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2w .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2w .mbr-article P {
  font-family: 'Montserrat', sans-serif;
}
#contacts1-u P {
  color: #fac51c;
}
#contacts1-u UL {
  color: #fac51c;
}
